<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Form Validation</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.9/angular.min.js"></script>
    <script src="./formvalidation.js"></script>
</head>
<body ng-app="FormApp" ng-controller="FormCtrl">
    <h1>Form Validation</h1>
        <form name="myForm" ng-submit="submit()" ng-show="showForm">
            <div>Name: <input type="text" ng-model="name">  </div>
            <div> Phone Number: <input type="text" ng-model="number"> </div>
            <div>Email: <input type="text" ng-model="email"> </div>
            <div>Password: <input type="password" ng-model="password"> </div>
            <div>Confirm Password: <input type="password" ng-model="confirm"> </div>
            <button ng-click="Submit()">Submit</button>
        </form>
</body>
</html>